*{ 
    box-sizing: border-box;
}
 body{
    font-family: Verdane, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
 }

 .container {
     background-color: rgb(0, 255, 13);
     padding: 5px 20px 15px 20px;
     border: 3px solid limegreen;
     border-radius: 4px;

 }
 input[type="text"],
 input[type="email"],
 input[type="number"],
 input[type="password"],
 input[type="date"],
 select,
 textarea{
     width: 100%;
     padding: 12px;
     border: 1px solid rgb(11,228, 119);
     border-radius:Spx;
     margin: 10px;
 }

 fieldset{
     background-color: rgb( 216,112, 202);
     border: 1px solid rgb(185, 41, 41);

 }
 .main_heading{
     text-align: center;
 }

 input[type="submit"]{
     background-color: rgb(26, 11, 228);
     color:maroon;
     padding: 120px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width: 100%;
 }
 input[type="Submit"]:hover{
     background-color:rgb(186, 224, 14);

 }